<div class="flex flex-col h-screen overflow-hidden" dir="rtl">
  <div class="flex flex-1 overflow-hidden relative">
    <!-- Desktop Sidebar (Hidden on mobile) -->
    <div class="hidden lg:block h-full z-10">
      <app-aside></app-aside>
    </div>

    <!-- Mobile Sidebar Drawer -->
    @if (isMobileSidebarOpen()) {
      <div class="fixed inset-0 z-50 lg:hidden">
        <!-- Backdrop -->
        <div
          class="fixed inset-0 bg-gray-900/50 backdrop-blur-sm transition-opacity"
          (click)="closeMobileSidebar()"
        ></div>

        <div
          class="fixed top-0 ltr:left-0 rtl:right-0 bottom-0 w-65 shadow-xl transform transition-transform duration-300"
        >
          <app-aside (closeMobileSidebar)="closeMobileSidebar()"></app-aside>
        </div>
      </div>
    }

    <div class="flex-1 flex flex-col min-w-0 overflow-hidden">
      <app-header class="z-20" (toggleMobileSidebar)="toggleMobileSidebar()"></app-header>

      <main class="flex-1 overflow-y-auto relative p-0 overflow-x-hidden custom-scrollbar">
        <div class="min-h-full flex flex-col">
          <div class="flex-1 p-2 md:p-4 lg:p-6">
            <router-outlet></router-outlet>
          </div>
          <!-- @defer (on viewport) {
            <app-footer></app-footer>
          } @placeholder {
            <footer class="footer">
              <p>© 2026 جميع الحقوق محفوظة.</p>
            </footer>
          } -->
        </div>
      </main>
    </div>
  </div>
</div>
